[Unit]
Description=Shop service

[Service]
ExecStart=/usr/bin/shop -conf=/etc/shop/production.json
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target